#layout-card{
	
	position:absolute;
	
}

.mdl-card{
	min-height:auto;
	overflow: visible;
}

.side-panel-holder{
	position:fixed;
	top:70px;
	z-index:999;
}

.fixed-right{
	right:0;
}

.side-panel .mdl-card__supporting-text{
	overflow:visible;
}

.page-content.no-content{
	height:400px;
}

.popup-card{
	position:fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index:1000;
}