body{
    background-color:#f5f5f5;
}

.table-card{
    width:inherit;
    display:inline-block;
    min-height: inherit;
    overflow: visible;
}

.table-card .mdl-card__supporting-text{
    padding:0px;
    width: inherit;
    overflow: visible;
}

.mdl-tabs__panel{
    padding: 20px 0 20px 0;
    text-align: center;
}

.mdl-layout__drawer-button{
    padding-top: 11px;
    height: auto;
}

